# Ignore Gradle project-specific cache directory
.gradle

out/

# Ignore Gradle build output directory
build/

# Ignore everything in testing folder
test/*

# Ignore IDE-specific files
.classpath
.project
.idea
.settings
bin